.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 80vh;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #1f1d1d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chat-header {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}

.chat-body {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.chat-message {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  word-wrap: break-word;
}

.chat-message.user {
  background-color: #007bff;
  color: white;
  align-self: flex-end;
}

.chat-message.mufasha {
  background-color: #f1f1f1fb;
  color: black;
  align-self: flex-start;
}

.chat-footer {
  display: flex;
  padding: 10px;
  background-color: #1f1d1d;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.chat-footer input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  color: #fff;
}

.chat-footer button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.chat-footer button:hover {
  background-color: #0056b3;
}
